@model VitoriaAirlinesWeb.Data.Entities.User

@{
    ViewData["Title"] = "Deactivate Employee Account";
}

<div class="main-content">
    <h2 class="text-danger">Deactivate Confirmation</h2>

    <div class="card p-4 bg-dark text-light">
        <h4>Are you sure you want to deactivate @Model.FullName account?</h4>
        <dl class="row">
            <dt class="col-sm-3">Full Name</dt>
            <dd class="col-sm-9">@Model.FullName</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </dl>

        <form asp-action="Deactivate" method="post">
            <input type="hidden" name="email" value="@Model.Email" />
            <button type="submit" class="btn btn-danger">Deactivate</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
