@using Microsoft.AspNetCore.Identity
@using VitoriaAirlinesWeb.Data.Entities
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "Employee";
}

<ejs-sidebar id="mainSidebar" width="220px" isOpen="true">
    <e-content-template>
        <div class="sidebar-internal-container">
            <div class="sidebar-header">
                <div class="sidebar-title">Welcome, @firstName</div>
            </div>

            <ul class="sidebar-menu">
                <li>
                    <i class="e-icons e-home"></i>
                    <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>

                <li id="manage-flights-menu-item" class="has-submenu">
                    <div class="submenu-toggle d-flex align-items-center">
                        <i class="fas fa-plane"></i>
                        <span class="submenu-label">Manage Flights</span>
                        <i class="fas fa-chevron-down submenu-arrow"></i>
                    </div>
                </li>



                <ul id="flights-submenu" class="sidebar-submenu">
                    <li><i class="fas fa-list-ul"></i><a asp-controller="Flights" asp-action="Index">All Flights</a></li>
                    <li><i class="fas fa-history"></i><a asp-controller="Flights" asp-action="History" asp-route-filter="history">Flights History</a></li>
                    <li><i class="far fa-calendar-alt"></i><a asp-controller="Flights" asp-action="Scheduled" asp-route-filter="scheduled">Scheduled Flights</a></li>
                </ul>

            </ul>
        </div>
    </e-content-template>
</ejs-sidebar>