@model VitoriaAirlinesWeb.Models.Account.ChangePasswordViewModel;
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="login-background">

    <div class="login-card">
        <h3 class="text-center text-light mb-4">Change Password</h3>

        <form method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="login-error-message">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <div>@error.ErrorMessage</div>
                    }
                </div>
            }

            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label text-light">Old Password</label>
                <input asp-for="OldPassword" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label text-light">New Password</label>
                <input asp-for="NewPassword" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label text-light">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn w-100 mb-3 login-button">Change Password</button>


        </form>
    </div>

</div>

@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


