@using VitoriaAirlinesWeb.Models.Account
@model RecoverPasswordViewModel
@{
    ViewData["Title"] = "RecoverPassword";
}

<div class="login-background">
    <div class="login-card">
        <h3 class="text-center text-light mb-4">Register</h3>

        <form method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="login-error-message">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <div>@error.ErrorMessage</div>
                    }
                </div>
            }

            <div class="mb-3">
                <label asp-for="Email" class="form-label text-light">First Name</label>
                <input asp-for="Email" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <button type="submit" class="btn w-100 mb-3 login-button">Recover Password</button>

            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>

        </form>
    </div>

</div>