@model VitoriaAirlinesWeb.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="login-background">
    <div class="login-card">
        <h3 class="text-center text-light mb-4">Reset Password</h3>

        <form method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="login-error-message">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <div>@error.ErrorMessage</div>
                    }
                </div>
            }

            <div class="mb-3">
                <label asp-for="Username" class="form-label text-light">Username</label>
                <input asp-for="Username" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label text-light">New Password</label>
                <input asp-for="Password" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label text-light">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control bg-dark text-light border-secondary" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn w-100 mb-3 login-button">Reset Password</button>

            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>

        </form>
    </div>
    
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

